body{
    font-family: 'Roboto', 'sans-serif';
    width: 100%;
    height: 100%;
    position: relative;
}
body::before{
    content: '';
    display: block;
    height: 62px;
    width: 100%;
}

.main-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(135, 215, 240, 0.473);
    position: relative;
}

.main-nav{
    box-shadow: 240px -20px 35px #000;

}

.main-layout{
    width: 100%;
}   

.sidebar-nav{
    height: 100vh;
}

.nav-middle{
    margin-left: -11rem;
}

.nav-end{
    margin-left: -8rem;
}

.input-search{
    border: none;
    outline: none;
    background-color: transparent;
}

.dev-profile-pic{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.nav-items .active{
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    z-index: 100;
    opacity: 0.4;
    display: block;
    z-index: 1;
}

.nav-items .nav-links{
    text-decoration: none;
    color: #fff;
    z-index: 3;

}

.sidenav-collapse{
    cursor: pointer;
}

.no-style-btn{
    outline: none;
    border: none;
    background: none;
    position: relative;
}

.dropdown-list{
    position: absolute;
    display: none;
    top: 2.85rem;
    right: 0;
    width: 18rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 1rem ;
    background-color: #fff;
    box-shadow: 10px 25px 30px gray;
}

.dropdown-list .header-text{
    margin-left: 1rem;
}

.dropdown-list .drop-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.7rem;    
    color: #000;
    text-decoration: none;
}

.dropdown-list .drop-item .msg-img{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 1rem 0 0;
    overflow: hidden;
}

.dropdown-list .drop-item .msg-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.dropdown-list .drop-item .msg-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
}

.dropdown-list .drop-item:hover{
    background-color: lightgray;
}

.dropdown-list .drop-item .msg-content .msg-sender-header{
    font-size: 1rem;
    font-weight: bolder;
}

.dropdown-list .drop-item .msg-content .msg-header{
    font-size: 0.9rem;
}